.calendar-wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    /* place-items: center; */
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
}

.header-container {
    display: grid;
    place-items: center;
    padding-top: 100px;
}

.pending {
    background-color: #fc9605;
  }

.cancelled {
    background-color: #d01212;
}

.approved {
    background-color: #39c32f;
}

.header-container h3 {
    font-size: 26px;
    font-weight: 900;
    color: #50a2fd;
    letter-spacing: 2px;
}

.select-doctor-wrapper {
    display: grid;
    grid-template-columns: 500px 400px;
    gap: 50px;
    place-items: center;
    place-content: center;
    padding-top: 60px;
}

.select-doctor-wrapper span {
    font-size: 16px;
    font-weight: 700;
}

.select-doctor-wrapper select {
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
}

.calendar {
    display: grid;
    grid-template-rows: 0.9fr 100px;
    grid-gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 5px 2px #849fb7;
    border-radius: 5px;
    width: 100%;
}

.side-bar {
    background-color: #f1f9ff;
    box-shadow: 0px 0px 5px 2px #849fb7;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 50px 50px 50px;
    gap: 0.2rem;
    /* padding-top: 3rem; */
    /* align-content: start; */
  }

  .side-bar__title {
    padding: 1rem;
    font-weight: bold;
    display: grid;
    place-items: center;
    font-size: 20px;
  }

  .my-color-events {
    background-color: #849fb7;
    font-weight: bold;
    padding: 0.3rem 1rem;
    display: grid;
    place-items: center;
    font-size: 16px;
  }

  .others-color-events {
    background-color:  #76acdc;
    padding: 0.3rem 1rem;
    font-weight: bold;
    display: grid;
    place-items: center;
    font-size: 16px;
  }

.button-event-wrapper {
    display: grid;
    place-items: center;
}

.button-event-wrapper button {
    padding: 20px 20px;
    border: none;
    outline: none;
    background-color: rgb(70, 146, 233);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.calendar-doctor {
    height: 800px;
    display: grid;
    place-items: center;
}

.calendar-doctor span {
    font-size: 16px;
    font-weight: 800;
}