.form-add-event-modal {
    display: grid;
    grid-template-rows: 50px 50px;
    gap: 20px;
    height: 300px;
    width: 400px;
    place-items: center;
    place-content: center;
    border: 1px solid #000;
}

.form-add-event-modal input {
    padding: 10px;
}

.form-add-event-modal button {
    padding: 10px;
    background-color: rgb(255, 98, 98);
    border: none;
}